<button class="chats-item {{#if selected}}chats-item_selected{{/if}}">
  <div class="chats-item__left-block">
    <img src="{{#if avatar}}https://ya-praktikum.tech/api/v2/resources{{avatar}}{{else}}{{IconAvatar}}{{/if}}" alt="UserImage">

    <div class="chats-item__left-block__body">
      <h3>{{title}}</h3>

      <span>{{message}}</span>
    </div>
  </div>
  
  <div class="chats-item__right-block">
    <span class="chats-item__right-block__date">{{time}}</span>

    {{#if unreadMessagesCount}}
    <div class="chats-item__right-block__unread-messages">
      <span>
        {{unreadMessagesCount}}
      </span>
    </div>
    {{/if}}
  </div>
</button>
