<button class="button button-back button-back_{{modifier}}" type="button">
  <img class="button-back__icon" src="{{#if light}}{{IconArrowBackLight}}{{else}}{{IconArrowBackBlue}}{{/if}}" alt="BackArrowButton">
  
  {{text}}
</button>
