{{#> layoutMain }}
  {{#> layoutWindow }}
    <div class="layout-profile__back-button">
      {{{buttonBack}}}
    </div>
    <div class="layout-profile">
      <div class="profile-main__avatar">
        {{{avatar}}}
      </div>

      <div class="profile-main__info">
        {{#each infos}}
          {{{this}}}
        {{/each}}
      </div>

      <div class="profile-main__buttons">
        {{{buttonChangeData}}}

        {{{buttonChangePassword}}}

        {{{buttonLogout}}}
      </div>
    </div>
  {{/layoutWindow}}
{{/layoutMain}}
