<div class="chatsList">
  <div class="chatsList__header">
    <div class="chatsList__header__content">
      <div class="chats__left-section__header__content__info">
        <img src="{{#if avatar}}https://ya-praktikum.tech/api/v2/resources{{avatar}}{{else}}{{IconAvatar}}{{/if}}"
              alt="ProfileImage">

        <h3>{{first_name}} {{second_name}}</h3>
      </div>

      <div class="chatsList__header__content__nav">
        {{{buttonProfile}}}
      </div>
    </div>

  </div>

  <div class="chatsList__body">
    {{#if isLoading}}
      <div class="chatsList__body__throbber">
        {{> throbber}}
      </div>
    {{else}}
      {{#each chats}}
        {{{this}}}
      {{/each}}
    {{/if}}
    {{!-- {{>chatsListItem imageSrc='https://images.freeimages.com/images/previews/748/poodle-posing-in-couch-1637336.jpg' 
                     firstName='Ivan' 
                     secondName='Ivanon' 
                     message='Hello, how are you? Im fine thank you.' 
                     date='10:15' 
                     unreadMessagesCount='3' selected=true}} --}}
  </div>
</div>
