{{#> layoutMain }}
  {{#> layoutWindow }}
    <div class="chats">
      {{{chatsList}}}

      {{{chatsDialog}}}
    </div>

    {{{modalsCreateChat}}}
    {{{modalsAddUser}}}
    {{{modalsDeleteUser}}}
  {{/layoutWindow}}
{{/layoutMain}}
