<div class="chatsDialog">
  {{{chatsDialogHeader}}}

  {{#if selectedId}}
    {{{chatsDialogMessages}}}

    <div class="chatsDialog__form">
      {{!-- <button type="button">
        <img src={{IconAttachFile}} alt="AttachFile">
      </button> --}}

      {{{ChatsDialogForm}}}
    </div>
  {{else}}
    <div class="chatsDialog__placeholder">
      <h3>Select a chat to send a message</h3>
    </div>
  {{/if}}
  
</div>
